<header>
  <div class="container">
    <div class="describer">Legend</div>
    <div class="red">greater than 20%</div>
    <div class="orange">15-20%</div>
    <div class="yellow">10-15%</div>
    <div class="blue">5-10%</div>
    <div class="green"> less than 5% </div>
  </div>
  <h1>CraigsScout SF</h1>
</header>