<body class="frontpage">
  <div class="intro">
    <h1> CraigsScout <span class="locale">SF</span> </h1>
    <%= render "links" %>
  <div>

  <footer class="main">
    <h6>Copyright, 2013   |   Disclaimer: CraigsScout is not affiliated with craigslist.org.</h6>
    <small>photo credit: <a href="http://www.flickr.com/photos/mikebehnken/5097078279/">MikeBehnken</a> via <a href="http://photopin.com">photopin</a> <a href="http://creativecommons.org/licenses/by-nd/2.0/">cc</a></small>
  </footer>

</body>
