<!DOCTYPE html>
<html>
<head>
  <title>CraigsScout SF</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- <meta http-equiv="refresh" content="" > -->
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
</head>

<header>
<div class="container">
	<div class="describer">Crime Key</div>
	<div class="red">greater than 20%</div>
	<div class="orange">15-20%</div>
	<div class="yellow">10-15%</div>
	<div class="blue">5-10%</div>
	<div class="green"> less than 5% </div>
</div>
	<h2>CraigsScout SF</h2>
</header>

<body>

<%= yield %>

<footer>
	<h6>Copyright, 2013   |   Disclaimer: CraigsScout is not affiliated with craigslist.org.</h6>
</footer>
</body>

</html>


